<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->

<!DOCTYPE html>
 #{extends 'main.html' /}
    <form method="POST" name="noteupload" enctype="multipart/form-data" action="@{Notes.fileUpload}?noteId=${retStatus}">  
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="file" id="attachment" name="attachment"/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="确定上传" id="submit" /> 
</form>