	#{extends 'main.html'/}
	<div class="l-clear"></div>
    <div id="maingrid" style="margin-top:1px"></div> <br />
    <div style="display:none;"></div>
    <div id="detail" style="display:none;"><form id="mainform" method="post"></form></div>
    
    
    <script type="text/javascript">
   $(function () {

        var manager, grid;
        var detailGrid;

        function f_initGrid()
        {
         	grid = manager = $("#maingrid").ligerGrid({
            columns: [
            { display: '序号', name: 'orderNum', width: 100,  type: 'text' },
            { display: '考评基础内容', name: 'title', width: 600, type: 'textarea',align:'left' }
            ],
            url: "checklists/leafjson",  method: "GET",
            groupColumnName: 'parentTitle', groupColumnDisplay: '考评项目', alternatingRow:false,align:'left',
            detail: { onShowDetail: f_showNote, height:'auto' },
          // title:"wwwww",
            width: '100%', pageSize: 50,
           toolbar: { items: [
                { text: '添加', click: addRow, icon: 'add' },
                { line: true },
                { text: '修改', click: modifyRow, icon: 'modify' },
                { line: true },
              { text: '删除', click: deleteRow, icon: 'delete' }
                ] }
        	});
        }
        
        f_initGrid();
      
        function f_reload() {
            detailGrid.loadData(true);
        }
        
        function getSelected()
        { 
            var row = manager.getSelectedRow();
            if (!row) { alert('请选择行'); return; }
            alert(JSON.stringify(row));
        }
        
        function getData()
        { 
            var data = manager.getData();
            alert(JSON.stringify(data));
        }
        
        function addRow()
        {
            var selected = grid.getSelected();
            if (!selected) { LG.tip('请选择考评项目!'); return }
            
        	showDetail({
                checkListId: selected.id,                
                checkListtitle: selected.title                  
            }, false);
        } 
        function modifyRow()
        {         
            var selected =   detailGrid.getSelected();
            if (!selected) { LG.tip('请选择行!'); return }
           // alert(selected.checkTitle);
            //   alert(selected.score);
            showDetail({
                id: selected.id,
                orderNum: selected.orderNum,
                title: selected.title,
                score:selected.score,     
                checkListId:selected.checkId,
                checkListtitle:selected.checkTitle
            }, false);
        }
        
        function deleteRow()
        {
            jQuery.ligerDialog.confirm('确定删除吗?', function (confirm) {
            		if (confirm) f_delete(); });
        }
        
        function f_delete() {
          var selected = detailGrid.getSelected();
          if (selected) {     
              $.ajax({
            	  url: 'checkmethod/'+selected.id,
                  type: 'DELETE',
                  loading: '正在删除中...',                  
                  success: function () {
                      //LG.showSuccess('删除成功');            
                     // Grid.loadData();
                      detailGrid.deleteSelectedRow();
                      LG.tip('删除成功!');                 
                      f_reload();
                  },
                  error: function (message) {
                      LG.showError(message);
                  }
              });
          }
          else {
              LG.tip('请选择行!');
          }
        }
        
	    var detailWin = null, curentData = null, currentIsAddNew;
	    var mainform = $("#mainform");
	    
	    function showDetail(data, isAddNew)
	    {
          currentData = data;
          currentIsAddNew = isAddNew;
          if (detailWin)
          {
              detailWin.show(); 
          }
          else
          {
              //创建表单结构
              
              mainform.ligerForm({
                  inputWidth: 280,
                  fields: [
         			{ name: "checkmethod.id", type: "hidden" },
         			{ name: "checkmethod.checkList.id", type: "hidden" },
         			
         			{ display: "考评内容", name: "checkListTitle", newline: false, 
         			  labelWidth: 100, width: 220, space: 30, type: "textarea"},
              { display: "序号", name: "checkmethod.orderNum", newline: true,
		              labelWidth: 100, width: 220, space: 30, type: "text", 
                  validate: { required: true, maxlength: 50} },
         			{ display: "考评方法", name: "checkmethod.title", newline: true,
		              labelWidth: 100, width: 220, space: 30, type: "textarea", 
		              validate: { required: true, maxlength: 50} },
         			{ display: "分数", name: "checkmethod.score", newline: true, 
                	  labelWidth: 100, width: 220, space: 30, type: "text", 
                    validate: { required: true, maxlength: 50}}] ,
                   
                  toJSON: JSON2.stringify
              });

              detailWin = $.ligerDialog.open({
                  target: $("#detail"),
                  width: 300, height: 400, top:80,
                  buttons: [
                  { text: '确定', onclick: function () { save(); } },
                  { text: '取消', onclick: function () { detailWin.hide(); } }
                  ]
              });
          }
          
          if (currentData)
          {    
        	  $("[name$=id]").val(currentData.id)
        	  $("#checkListTitle").val(currentData.checkListtitle);              
                  $("[name$='checkList.id']").val(currentData.checkListId);
                  $("[name$=orderNum]").val(currentData.orderNum);    
                  $("[name$=title]").val(currentData.title);        
                  $("[name$=score]").val(currentData.score);               
                  $("[name$=title]").focus();
          }
       
          //$("#checkListTitle").ligerGetTextBoxManager().setDisabled();
           $("#checkListTitle").attr('readonly', 'readonly');  
          
          function save()
          {
              $("#mainform").validate();
             
              $.ajax({
                  loading: '正在保存数据中...',
                  type: 'POST',
                  url: 'checkmethod',                  
                  data: $("#mainform").serialize(),
                  success: function ()
                  {
                      detailWin.hide();
                      grid.loadData();             
                      LG.tip('保存成功!');
                  },
                  error: function (message)
                  {
                      LG.tip(message);
                  }
              });
          }
        }
        
	    //显示考评项目下的考评方法
        function f_showNote(row, detailPanel, callback)
        {   
            var grid = document.createElement('div'); 
          
            $(detailPanel).append(grid);
            
            $.getJSON('checkmethods/checkjson',
            	{id: row.id},
            	function(jsondata) {    
            		if (jsondata.Total>0) {        
            			detailGrid = $(grid).css('margin',6).ligerGrid({
		                columns:
			                [
			                { display: '序号', name: 'orderNum',type:'text' },
			                { display: '考评方法', name: 'title', width: 500, align: 'left',type:'float' },
                      { display: '分数', name: 'score', type:'int' }
			                ], isScroll: false, showToggleColBtn: false, width: '95%',
							     pageSize: 20, data: jsondata,
                   showTitle: true, columnWidth: 100,
                   onAfterShowData: callback,frozen:false    
                              
		            	});
            			//detailGrid.setOptions({ data: jsondata }); 
						//detailGrid.loadData();
					} else {
						$(grid).remove();
						$(detailPanel).append($('<div>此考评项目没有考评方法</div>').css('margin', 20));						
					}
				}
			);
        }
	})
  </script>
