#{extends 'main.html'/}
<div id="layout1">
    <div  position="center" title="收取红包明细">
        <div class="l-clear"></div>
        <div id="navtab1" style="width: 800px;overflow:hidden; border:1px solid #A3C0E8; ">          
            <div  title="查询条件" style="">
            *{增加导出Excel按钮}*
                <div id="toptoolbar"></div>
                <div id="detail"  style="margin-top:1px">
                    <form id="queryform"  method="post"></form>               
                </div>  <br> <br/>  
                <table width="60%">
                    <tr>
                        <td width="50%">&nbsp;</td><td><input id="btnSet" type="button" value="查　询" onclick="query();" /></td>
                        <td >&nbsp;&nbsp;</td>
                        <td><input id="btnReset" type="button"  value="重　置" onclick="resetform();"/></td>         
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                </table>
            </div> 

        </div>  
        <div id="navtab1" style="width: 800px;overflow:hidden; border:1px solid #A3C0E8; ">                  
            <div   title="档案列表">
                <div id="maingrid" style="margin-top:1px"></div> <br />
                <div style="display:none;"></div>             
            </div>    
        </div>  
    </div>
</div>

<script type="text/javascript">  
    $(function () {    
        
        var manager, grid;
        $("#layout1").ligerLayout({ leftWidth: 160,height: 960});
        $("#navtab1").ligerTab(); 

        var depts=[];
      
        var queryform = $("#queryform");
        //        增加导出Excel按钮
        $("#toptoolbar").ligerToolBar({
            items: [
                {text: '导出',id:'excel', icon:'outbox',click:export_redPacketDetailExcel}
            ]
        });
        function f_initGrid() {
            grid = manager = $("#maingrid").ligerGrid({
                columns: [
                    { display: '年度', name:'noteYear', width: 60,  type: 'textarea' },
                    { display: '日期', name:'noteDate', width: 80,  type: 'textarea' },
                    { display: '科室', name:'deptName', width: 80,  type: 'textarea' },
                    { display: '姓名', name: 'realName', width: 80,  type: 'textarea' },
                    { display: '性别', name: 'sex', width: 80,  type: 'textarea' },
                    { display: '职称', name: 'title', width: 80,  type: 'textarea' },
                    { display: '收/拒收红包', name: 'goods', width: 240, type: 'textarea' }
                             
                ],
                method: "GET", title: "收/拒收红包列表",
                width: '100%',height:'98%', pageSize: 30, showTitle: true, checkbox: false, checkboxColWidth: 50
            });
        }
        
        f_initGrid();
        var  fieldsarr=[];
        function f_initquery() {       
            fieldsarr=[                                          
                { display: "年度",name: "year", newline: true, 
                    labelWidth: 50, width: 120, space: 50, type: "text"},                                
                { display: "科室", name: "deptHide", comboboxName: "deptCombox", newline: false, 
                    labelWidth: 50, width: 120, space: 50, type: "select",
                    options: {data: depts, valueField: 'id', textField: 'name'} }                                         
            ];
          
            queryform.ligerForm({
                inputWidth: 280,
                fields: fieldsarr,
                pageSize: 50,       				
                toJSON: JSON2.stringify
            });
	   
            var d=new Date();
            var fullyear=d.getFullYear();
            $("[name$=year]").val(fullyear);        //默认为今年
           
        }

        $.getJSON('/depts/findAll', function(data) {                          
            depts = data;  
            f_initquery();     
        });
        
        
        
        function f_reload() {
            grid.loadData();
        }
        //导出excel
        function export_redPacketDetailExcel() {
            var deptCombox_val,year,deptName;
            year = $("[name$=year]").val();
            deptCombox_val= $("#deptCombox").ligerComboBox().getValue();
            deptName=$("[name=deptCombox]").val();
            location.href = "export_redPacketDetail_excel/?year="+year+"&dept_id=" + deptCombox_val+"&deptName="+deptName;
        }
        query = function (){
            $.ajax({
                loading: '正在查询中...',
                type: 'POST',
                url: 'redpacketdetailjson',                  
                data: $("#queryform").serialize(),
                dataType:"json",
                success: function (jsondata){   
                    if(jsondata.Total==0){
                     //   LG.tip("查询为空！"); 
                     $.ligerDialog.alert("查询无结果！");
                    }
                    grid.setOptions({ data: jsondata }); 
                    grid.loadData();  
                    
                },
                error: function (message)
                {
                    LG.tip(message);              
                }
            });    
        }
        
        resetform = function (){   
            $("[name$=year]").val("");         
            $("#deptCombox").ligerGetComboBoxManager().setValue();    
           // $("#gradeCombox").ligerGetComboBoxManager().setValue();  
        }
            

    })
           
</script>


