<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>个人主页</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>


    <body>
        <div>&nbsp;&nbsp;</div>
        <div><b> </b></div><br>       
        <table border="0" id="table1" width="50%">
            <tr>
                <td><b>个人填报情况：</b></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;已审核通过 ${myArrnum[0]}条记录！</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;退回       ${myArrnum[1]}条记录！</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;新建       ${myArrnum[2]} 条记录！</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><b>个人考评情况：</b></td> 
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;自我考评：${myArrstr[0]}!</td> 
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;科室考评：${myArrstr[1]}!</td> 
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;单位考评：${myArrstr[2]}!</td> 
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;归档操作：${myArrstr[3]}!</td> 
            </tr>

        </table>
        <table border="0" id="table2" width="50%">
            <tr>
                <td><b>科室审核情况：</b></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;已审核通过   ${myArrnum[3]} 条记录！</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;退回        ${myArrnum[4]} 条记录！</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;等待审核    ${myArrnum[5]} 条记录！</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><b>科室考评情况：</b></td> 
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;已完成  ${myArrnum[6]}人科室考评！</td> 
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;还有    ${myArrnum[7]}人未完成科室考评！</td> 
            </tr>
        </table>
        <table border="0" id="table3" width="50%">


            <tr>
                <td><b>全院审核情况：</b></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;已审核通过 ${myArrnum[8]}条记录！</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;退回       ${myArrnum[9]}条记录！</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;等待审核  ${myArrnum[10]}条记录！</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><b>全院考评情况：</b></td> 
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;已完成  ${myArrnum[11]}人单位考评！</td> 
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;还有    ${myArrnum[12]}人未完成单位考评！</td> 
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;已完成  ${myArrnum[13]}人考评归档！</td> 
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;还有    ${myArrnum[14]}人未完成考评归档！</td> 
            </tr>
            
        </table>

    </body>
</html>
